version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "05:00"
      timezone: "Africa/Casablanca"
    open-pull-requests-limit: 1
    labels:
      - dependencies
      - security
    groups:
      npm-weekly:
        patterns:
          - "*"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "monday"
      time: "07:00"
      timezone: "Africa/Casablanca"
    open-pull-requests-limit: 1
    labels:
      - dependencies
      - security
    groups:
      actions-monthly:
        patterns:
          - "*"
